<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">
    <http use-expressions="true">
        <intercept-url pattern="/*/create" access="hasRole('admin')"/>
        <intercept-url pattern="/*/update/*" access="hasRole('admin')"/>
        <intercept-url pattern="/**" access="permitAll"/>
        <form-login/>
        <logout logout-url="/logout"/>
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="password" authorities="admin"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>